server {
    listen       ${PORT};
    server_name  localhost;

    location / {
        root   /usr/share/nginx/html;
        index  index.html index.htm;
    }

    # proxy api calls to the backend
    #
    location /api/ {
        proxy_pass  ${BACKEND_URI};
    }

    # redirect errors to the static pages
    #
    error_page  404              /404.html;
    error_page  500 502 503 504  /50x.html;
}
